/* general styling */
* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
}

header h1 {
    text-align: center;
}

section {
    float: left;
    background-color: gray;
    border: black solid 1px;
    margin: 2%;
}

section p {
    clear: both;
    padding: 10px;
}

.food-title {
    float: right;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    width: 110px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#foodTitleChicken {
    background-color: indianred;
}

#foodTitleBeef {
    color: white;
    background-color: darkred;
}

#foodTitleSushi {
    background-color: goldenrod;
}

/* media queries */

/* desktop browser */
@media (min-width: 992px) {
    section {
        width: 29%;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
    #section1, #section2 {
        width: 46%;
    }
}

/* mobile */
@media (max-width: 767px) {

}