/* general styling */
* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
}

header h1 {
    font-size: 1.75em;
    text-align: center;
}

section {
    float: left;
    background-color: gray;
    border: black solid 1px;
    margin: 2%;

    /* additional constraints for assignment 2 as defined in github */
    height: 200px;
    overflow: hidden;
}

section:hover {
    overflow-y: scroll;
}

section p {
    clear: both;
    padding: 10px;
}

.food-title {
    float: right;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    width: 110px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#foodTitleChicken, #foodTitleChickenMobile {
    background-color: indianred;
}

#foodTitleBeef, #foodTitleBeefMobile {
    color: white;
    background-color: darkred;
}

#foodTitleSushi, #foodTitleSushiMobile {
    background-color: goldenrod;
}

#pageTitleMobile {
    /* hide the mobile page title by default. enabled in mobile view */
    visibility: hidden;
    position: absolute;
    font-family: Papyrus, cursive;
    font-size: 1em;
    text-align: left;
    margin-left: 2%;
}

#foodTitleChickenMobile, #foodTitleBeefMobile, #foodTitleSushiMobile {
    visibility: hidden;
    position: absolute;
}

/* media queries */
/* desktop browser */
@media (min-width: 992px) {
    section {
        width: 29%;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
    #section1, #section2 {
        width: 46%;
    }
}

/* mobile */
@media (max-width: 767px) {
    #pageTitleMobile, #foodTitleChickenMobile, #foodTitleBeefMobile, #foodTitleSushiMobile {
        /* hide the mobile page title by default. enabled in mobile view */
        visibility: visible;
        position: relative;
    }

    #pageTitleWide, #foodTitleChicken, #foodTitleBeef, #foodTitleSushi {
        visibility: hidden;
        position: absolute;
    }

    section p {
        text-align: center;
    }

    .food-title {
        width:100%;
        float: none;
        border-bottom: black solid 1px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }
}

