<!-- this directive only displays if its given 'found' array is non-null -->
<div ng-if="found"
     style="clear: both;">
    <h3>Found Items</h3>
    <ul>
        <li ng-repeat="item in found">
            <!--menu item, its short_name, and the description-->
            <h3>{{ item.short_name }}: {{ item.name }}</h3>
            <button class="btn btn-sm"
                    ng-click="onRemove({index: $index});">Don't want this
            </button>
            {{ item.description }}
        </li>
    </ul>
    <!-- if no found items, display label -->
    <div class="error" ng-if="found.length==0">Nothing found</div>
</div>